<a href="https://colab.research.google.com/github/poonamkhot123/function_statement.ipynb/blob/main/Functions_with_CampusX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Functions - Abstraction and Decomposition

# Lets create a function (with docstring)

In [1]:
def is_even(num):
  """THis function returns if a given number is odd or even
  input - any valid integer
  output - odd/even
  created on - 4/01/2026
  """
  if num % 2==0:
    return "even"
  else:
    return"odd"

In [2]:
is_even(5)

'odd'

In [4]:
for i in range(1,11):
  x = is_even(i)
  print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

* difference between argument and parameter

# Types of argument
* positional argument
* default argument
* keyword argument

In [5]:
# default argument
def power(a=1,b=1):
  return a**b

In [6]:
power(2,3)

8

In [7]:
power(2)

2

In [8]:
# positional argument : in given order they call
power(2,3)

8

In [9]:
# keyword argument.
power(b=3,a=2)

8

# *args and **kwargs

*args : allows us to pass a variable number of non-keyword arguments to a function.

In [10]:
def multiply(*args):
  product = 1

  for i in args:
    product = product * i
  return product

In [12]:
multiply(12,3,4,9,5)

6480

In [ ]:
# how to see documentation of any function.
print(functionname.__doc__)

In [15]:
# **kwargs
# **kwargs allows us to pass any number of keyword arguments.
# keyword arguments mean that they contain a key-value pair,like a Python dictionary.

def display(**kwargs):
  for (key,value) in kwargs.items():
    print(key,"->",value)

In [14]:
display(india='delhi',shrilanka='colombo',nepal='kathmandu')

india -> delhi
shrilanka -> colombo
nepal -> kathmandu

In [ ]:
# how fucntions executed in memory

In [ ]:
# if function not have return statement

# Variable scope.

In [ ]:
# Global variable
# local variable

# Nested Function.

In [24]:
def f():
  def g():
    print("inside function g")
  g()
  print("inside function f")

In [25]:
f()

inside function g
inside function f

# Functions are First class citizens.

In [42]:
def square(num):
  return num**2

In [34]:
square(2)

4

In [36]:
x= square
x

In [37]:
# Reasign
x = square
x(3)

9

In [39]:
# deleting a function
del square

In [45]:
# storing
L = [1,2,3,4,square]
L[-1](3)

9

In [ ]:
# functions are immutable.

In [ ]:
# functions are first class citizens.

# Benefits of using a FUnction.
* Code Modularity
* Code Readibility
* Code Resuability

# Lambda Function.
* A lambda function is a small anonumous function.
* A lambda function can take any number of arguments,but can only have one expression.

In [46]:
a = lambda x:x**2
a(2)

4

In [47]:
b = lambda x,y:x+y
b(2,3)

5

# Difference between lambda vs normal function
* No name
* lambda has no return value(infact ,returns a function)
* lambda is written in 1 line.
* not reusable.

# Then why used lambda fuction?
* They are used with Higher order Functions.

In [50]:
# check if a string has "a"
a = lambda s: "a" is s
a("hello")

<>:2: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
/tmp/ipython-input-2602633992.py:2: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
  a = lambda s: "a" is s

False

In [52]:
# odd or even
a = lambda x:'even' if x%2 ==0 else 'odd'
a(6)

'even'

# Higher order function.
* A Higher-Order Function (HOF) in Python is a function that does at least one of the following:

* Takes one or more functions as arguments
* Returns a function as its result

# map

In [53]:
# square the items of a list.
list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [54]:
# odd/even labelling of list items.
L = [1,2,3,4,5]
list(map(lambda x :'even' if x%2==0 else 'odd',L))

['odd', 'even', 'odd', 'even', 'odd']

In [55]:
# fetch names from a list of dict.
users = [
  {
   'name':'rahul',
   'age':45,
   'gender':'male'
   },
  {
   'name':'nitish',
   'age':33,
   'gender':'male'
   },{
   'name':'poonam',
   'age':23,
   'gender':'female'
   }
    ]

In [56]:
list(map(lambda users:users['gender'],users))

['male', 'male', 'female']

# Filter

In [58]:
# numbers greater than 5
L = [3,4,5,6,7]
list(filter(lambda x: x>5, L))

[6, 7]

In [59]:
# fetch fruits with 'a'.
fruits = ['apple','guava','cherry']
list(filter(lambda x:x.startswith('a'),fruits))

['apple']

# Reduce.

In [60]:
# sum of all item
import functools
functools.reduce(lambda x,y:x+y,[1,2,3,4,5])

15

In [63]:
# find minimum number
functools.reduce(lambda x,y:x if x<y else y,[23,11,45,10,9])

9

In [64]:
# find maximum number
functools.reduce(lambda x,y:x if x>y else y,[23,11,45,10,9])

45