<a href="https://colab.research.google.com/github/poonamkhot123/function_statement.ipynb/blob/main/loop_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given a list [4, 8, 2, 10, 6], find the maximum number using a for loop.

In [ ]:
List=[4,8, 2, 10, 6]
max = List[0]
for number in List:
    if number > max:
        max = number
print(max)

10

Take input from the user and find the factorial of the number using a for loop

In [ ]:
num = int(input("Enter a number: "))
fact = 1
for i in range(1, num + 1):
    fact = fact*i
print(fact)

Enter a number: 12
479001600

Given a list ['apple', 'banana', 'cherry', 'date', 'fig'], print each element along with its index using a for loop.

In [ ]:
List = ['apple', 'banana', 'cherry', 'date', 'fig']
for index, fruit in enumerate(List):
    print(index, fruit)

0 apple
1 banana
2 cherry
3 date
4 fig

Take a string input from the user and count the number of uppercase letters using a for loop.(use char.isupper()ðŸ˜Š)

In [ ]:
str = input("Enter a string: ")
counter = 0
for char in str:
    if char.isupper():
        counter += 1
print(counter)

Enter a string: POONAm
5

Given a list of integers [17, 25, 39, 42, 58, 71, 86, 93], find the sum of all the even numbers using a for loop.

In [ ]:
List = [17, 25, 39, 42, 58, 71, 86, 93]
sum = 0
for i in List:
    sum=sum +i
print("sum Of numbers",sum)

sum Of numbers 431

Given a list [3, 6, 9, 12, 15], calculate the product of all the elements using a for loop.

In [ ]:
List = [3, 6, 9, 12, 15]
product = 1
for i in List:
    product = product*i
print(product)

29160

Given a list [2, 3, 5, 7, 11, 13, 17, 19], find the index of the first occurrence of the number 7 using a for loop.

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
for index, num in enumerate(numbers):
    if num == 7:
        print(index)
        break