<a href="https://colab.research.google.com/github/poonamkhot123/Python-Basic-To-Advanced-Coding/blob/main/Session_4_(List_in_python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists
* what are lists
* Lists vs Arrays
* Characteistics of a list
* How to create list
* Access items from a list
* Editing items in a list.
* Deleting items from a list
* Operations on a lists
* FUnctions on list.

In [4]:
L = [1,2,3]

print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

134071128564032
11654376
11654408
11654440
11654376
11654408
11654440

In [ ]:
# REferencial array
# dynamic array

# Characteritics of list
* Ordered
* Changeble/mutable
* Hetrogeneous
* Can have duplicates
* are dynamic
* can be nested
* items can be accessed
* can contain any kind of objects in python.

# Creating a list
* empty
* 1D
* 2D
* 3D
* heroggeneous
* using type conversion

In [5]:
# empty
print([])

[]

In [6]:
# 1D -> homogeous
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [7]:
# 2D ->
print([1,2,3,[1,2,3,4,5]])  # it is heterogenous

[1, 2, 3, [1, 2, 3, 4, 5]]

In [8]:
# 3D
print([[[1,2,3],[3,4],[5,6],[7,8]]])  # it is homogenous

[[[1, 2, 3], [3, 4], [5, 6], [7, 8]]]

In [9]:
# heterogenous
print([1,True,5.6,5+6j,"hello"])

[1, True, 5.6, (5+6j), 'hello']

#Accessing items from a list

In [13]:
# positive indexing.
L = [1,2,3,[4,5]]
print(L[0])

1

In [14]:
# negative indexing
print(L[-1][-2])

4

In [23]:
L = [[[1,2],[3,4]],[[5,6],[7,8]]]
print(L[1][0][1])

6

In [24]:
L = [1,2,3,4,5,6]
print(L[0:4])

[1, 2, 3, 4]

# Adding element in a list

In [25]:
L = [1,2,3,4]
L.append(5)
print(L)

[1, 2, 3, 4, 5]

In [27]:
L = [1,2,3,4]
L.append([4,5,6])
print(L)

[1, 2, 3, 4, [4, 5, 6]]

In [26]:
# extend
L = [1,2,3,4]
L.extend([5,6,7])
print(L)

[1, 2, 3, 4, 5, 6, 7]

In [1]:
L =[1,2,3,4,5]
L.extend("delhi")
print(L)

[1, 2, 3, 4, 5, 'd', 'e', 'l', 'h', 'i']

In [2]:
# insert
L = [1,2,3,4,5]
L.insert(1,100)
print(L)

[1, 100, 2, 3, 4, 5]

# Editing items in a list

In [4]:
L = [1,2,3,4,5]

# editing with indexing
L[-1] = 50
print(L)

[1, 2, 3, 4, 50]

In [6]:
# editing with slicing
L[1:4] = [200,300,400]
print(L)

[1, 200, 300, 400, 50]

# Deleting items from a list.

In [7]:
L = [1,2,3,4,5]
del L

[1, 2, 3, 4, 5]

In [8]:
L = [1,2,3,4,5]

# indexing
del L[-1]

# slicing
del L[1:3]

print(L)

[1, 4]

In [9]:
# REmove
L = [1,2,3,4,5]
L.remove(2)
print(L)

[1, 3, 4, 5]

In [10]:
#pop
L = [1,2,3,4,5]
L.pop(0)
print(L)

[2, 3, 4, 5]

In [11]:
# if we never provide index last element deleted.
L = [1,2,3,4,5]
L.pop(0)
print(L)

[2, 3, 4, 5]

In [12]:
# clear
L = [1,2,3,4]
L.clear()
print(L)

[]

# operatins on list
* Arithmwtic
* membership
* Loop

In [13]:
# Arithmwtic (+,*)
L1 = [1,2,3,4]
L2 = [5,6,7,8]

# concatenation/merge
L1 + L2

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
print(L1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [16]:
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]
print( 5 in L2)

False

In [17]:
print([5,6] in L2)

True

In [19]:
# loops
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[6,7]]

for i in L2:
  print(i)

1
2
3
4
[6, 7]

In [20]:
L3 = [[[1,2],[3,4],[5,6],[7,8]]]

for i in L3:
  print(i)

[[1, 2], [3, 4], [5, 6], [7, 8]]

# List FUnctions

In [25]:
# len/min/max/sorted
L = [2,1,5,7,0]
print(len(L))
print(min(L))
print(max(L))
print(sorted(L))
print(sorted(L, reverse=True))

5
0
7
[0, 1, 2, 5, 7]
[7, 5, 2, 1, 0]

In [26]:
# count
L = [1,2,1,4,3,1,5]
L.count(1)

3

In [27]:
# index
L = [1,2,1,4,3,1,5]
L.index(1)

0

In [29]:
# reverse
L = [1,2,1,4,3,1,5]
# permanently reverse list
L.reverse()
print(L)

[5, 1, 3, 4, 1, 2, 1]

In [31]:
# sort vs sorted
L = [2,1,5,7,0]
print(L)
print(sorted(L))
print(L)
L.sort()
print(L)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [32]:
# copy  -> shallow
L = [2,1,5,7,0]
print(L)
print(id(L))

L1 = L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
136772707436736
[2, 1, 5, 7, 0]
136772707371712

# List Comprehension
* List COmprehension provides a concise way of creating lists.
* newlist = [expression for item in iterable if condition == True]
* Advantages
* More time - efficient and space - efficient than loops.
* Require fewer lines of code.
* Transforms iterable statement into a formula.

In [ ]:
# what is deep vs shallow

In [33]:
# add 1 to 10 numbers to a list.
L  = []
for i in range(1,11):
  L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
L =  [ i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
# scalar multiplication on a vector
v = [2,3,4]
s = -3

[s*i for i in v]

print(v*s)

[]

In [37]:
# add squares
L = [1,2,3,4,5]

[i**2 for i in L]

[1, 4, 9, 16, 25]

In [43]:
# print all numbers divisible by 5 in the range of 1 to 50.
[ i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [45]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']

[language for language in languages if language.startswith("p")]

['python', 'php']

In [46]:
# Nested if with List Comprehension
basket = ["apple",'Guava',"cherry","banana"]
my_fruits = ["apple","kiwi","grapes","banana"]

# add new list from my_fruits and items if the fruit exists in basket ans also starts with "a".

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith("a")]

['apple']

In [48]:
# print a (3,3) matrix using list comprehension -> Nested List comprehension.
[[i*j for i in range(1,4)]for j in range(1,5)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9], [4, 8, 12]]

In [49]:
# Cartesian products - > List comprehension on 2 lists together.
L1 = [1,2,3,4]
L2 = [4,5,6,7]
[i*j for i in L1 for j in L2]

[4, 5, 6, 7, 8, 10, 12, 14, 12, 15, 18, 21, 16, 20, 24, 28]

# 2 ways to traverse a list.
* itemwise
* indexwise

In [50]:
# itemwise
L = [1,2,3,4]

for i in L:
  print(i)

1
2
3
4

In [52]:
# indexwise : it return a index of each element.
L = [1,2,3,4]
for i in range(0,len(L)):
  print(i)

1
2
3
4

In [54]:
L = [1,2,3,4]
for i in range(0,len(L)):
  print(L[i])

1
2
3
4

# Zip
* The zip() function returns a zip object,which is an iterator where the first item in each passed is paired together,and then the second item in each passed iterator are paired toghether.
* if the passed iterators have different lengths, the iterator with the least items decides the length of the new ieterator.

In [62]:
# write a program to add items of 2 lists indexwise.
L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

list(zip(L1,L2))

[(1, -1), (2, -2), (3, -3), (4, -4)]

In [63]:
L = [1,2,print,type,input]
print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7c64f29e19a0>>]

# Disadvantages of Python Lists.
* slow
* Risky usage
* eats up more memory

In [67]:
a = [1,2,3]

b = a.copy()

print(a)
print(b)

a.append(4)

print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]