<a href="https://colab.research.google.com/github/poonamkhot123/Python-Basic-To-Advanced-Coding/blob/main/Session_5_Tuples_%2B_Sets_%2B_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples

* Ordered
* Unchangeable
* Allows duplicates

Plan of attack
* Creating a Tuple
* Editing items
* Adding items
* Deleting items
* Operations on Tuples
* Tuple Functions

# Creating tuple

In [ ]:
# empty
t1 = ()
print(t1)
# creating tuple with a single item.
t2 = ("hello")
print(type(t2))

()
<class 'str'>

In [ ]:
# Homogeneous tuple
t3 = (1,2,3,4,5)
print(t3)

(1, 2, 3, 4, 5)

In [ ]:
# Heterogeneous tuple
t4 = (1,2,5,True,[1,2,3])
print(t4)

(1, 2, 5, True, [1, 2, 3])

In [ ]:
# tuple
t5 = (1,2,3,(4,5))
print(t5)

(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

In [ ]:
# using type conversion
t6 = tuple("hello")
print(t6)

('h', 'e', 'l', 'l', 'o')

# Accessing items
* indexing
* slicing

In [ ]:
t3 = (1,2,3,4)
print(t3[0])
print(t3[-1])

1
4

In [ ]:
print(t3[0:4])

(1, 2, 3, 4)

In [ ]:
print(t3[-3:-1])

(2, 3)

In [ ]:
t5

(1, 2, 3, (4, 5))

In [ ]:
t5[-1][1]

5

# Editing items

In [ ]:
t3[2] = 10 # tuple is immutable just like string.

TypeError: 'tuple' object does not support item assignment

# Adding an item

In [ ]:
print(t3)
# not possible

# Deleting items
* we can delete all tuple but not an element.

In [ ]:
print(t3)
del t3

NameError: name 't3' is not defined

In [ ]:
t = (1,2,3,4,5)
t[-1:-4:-1]

(5, 4, 3)

# Operations on tuple.

In [ ]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
print(t1 * 3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
1 in t1

True

In [ ]:
1 not in t1

False

In [ ]:
# iteration
for i in t1:
  print(i)

1
2
3
4

# Tuple Functions.

In [ ]:
# len/sum/min/max/sorted.

In [ ]:
t = (1,2,3,4)
len(t)

4

In [ ]:
sum(t)

10

In [ ]:
max(t)

4

In [ ]:
min(t)

1

In [ ]:
sorted( t , reverse = True)

[4, 3, 2, 1]

In [ ]:
# count
t = (1,2,3,4,5,1)
t.count(1)

2

In [ ]:
# index
t.index(2)

1

# Difference between list and tuple.
* syntax
* mutability
* memory
* built in functionality
* Error prone
* Usability

In [ ]:
# tuples are faster than list
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print("List time",time.time()-start)

start = time.time()
for i in T:
  i*5
print("Tuple time",time.time()-start)

List time 8.048726558685303
Tuple time 7.711012601852417

# Why use tuple.

In [ ]:
# difference between list and tuple.

In [ ]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [ ]:
# zipping tuples.
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

# Sets
* unordered
* mutable
* No duplicates
* Can't contain mutable data types.

# Creating Sets.

In [ ]:
# empty
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [ ]:
# 1D
s1 = {1,2,3}
print(s1)

{1, 2, 3}

In [ ]:
# 2D
s2 = {1,2,3,{4,5}}
print(s2)

TypeError: unhashable type: 'set'

In [ ]:
s3 = { 1,"hello",4.5,True}
# in set we don't have duplicates , python treated True as 1
print(s3)

{1, 4.5, 'hello'}

In [ ]:
# using type conversion.
s4 = set([1,2,3])
print(s4)

{1, 2, 3}

In [ ]:
# Duplicates not allowed.
s5 = {2,3,4,5,6,5,7,2}
print(s5)

{2, 3, 4, 5, 6, 7}

In [ ]:
# set can't have mutable items.
s6 = {1,2,3,[4,5]}
print(s6)

TypeError: unhashable type: 'list'

In [ ]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

# Accessing items.

In [ ]:
s1 = {1,2,3,4}
s1[-1]

TypeError: 'set' object is not subscriptable

In [ ]:
# set is unordered thats why indexing / slicing not allowed.

In [ ]:
# editing items is also not allowed.

# Editing items

In [ ]:
s1 = {1,2,3,4}
s1[0] = 100

TypeError: 'set' object does not support item assignment

# Adding items

In [ ]:
s = {1,2,3,4}
s.add(5)

print(s)

{1, 2, 3, 4, 5}

In [ ]:
s = {1,2,3,4,5}
s.update([5,6,7])
print(s)

{1, 2, 3, 4, 5, 6, 7}

# Deleting items
* del
* discard
* remove
* pop
* clear

In [ ]:
# del
# we can delete whole set but not particular element.
s = {1,2,3,4,5}
print(s)
del s
print(s)

{1, 2, 3, 4, 5}

In [ ]:
# discard
s = {1,2,3,4,5}
s.discard(4)

In [ ]:
# remove
s.remove(5)
print(s)

{1, 2, 3}

In [ ]:
# pop : delete the random items.
s = {1,2,3,4,5}
s.pop()

1

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# union
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# intersection
s1 & s2

{4, 5}

In [ ]:
# Difference
s1 - s2

{1, 2, 3}

In [ ]:
s2 - s1

{6, 7, 8}

In [ ]:
# Symmetric difference
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [ ]:
# Membersip test
1 in s1

True

In [ ]:
1 not in s1

False

# Set Functions

#len/sum/min/max/sorted

In [ ]:
s = {1,2,3,4,5}
len(s)

5

In [ ]:
sum(s)

15

In [ ]:
min(s)

1

In [ ]:
max(s)

5

In [ ]:
sorted(s,reverse = True)

[5, 4, 3, 2, 1]

In [ ]:
# union/update
s1 = {1,2,3,4}
s2 = {4,5,6,7}
s1.union(s2)

s1.update(s1)
print(s1)
print(s2)

{1, 2, 3, 4}
{4, 5, 6, 7}

In [ ]:
# intersection.
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

{4, 5}

In [ ]:
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [ ]:
# symmetric_difference / symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

# isdisjoint / issubset / issuperset

In [ ]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

s1.isdisjoint(s2)

False

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4}

s2.issubset(s1)

True

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}
s1.issuperset(s2)

True

In [ ]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

# frozenset
* frozen set is just an immutable version of a python set object.

In [ ]:
# create frozenset
fs = frozenset([1,2,3,4])
print(fs)

frozenset({1, 2, 3, 4})

In [ ]:
# what works what does not work
# works -> all read functions.
# does't work -> write operations.

In [ ]:
# union / intersection / difference/ symmetric difference all works
# isdisjoint/ issubset / issuperset

In [ ]:
# 2D frozenset
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

# set comprehension

In [ ]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
{ i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

# Dictionary
* mutable
* indexing has no meaning
* keys can't be duplicated.
* keys can't be mutable items.

In [ ]:
# empty dictionary
d = {}
d

{}

In [ ]:
# 1D dictionary
# Homogeneous dictionary
d1 = {'name':'poonam','gender':'male'}
d1

{'name': 'poonam', 'age': 22, 'gender': 'male'}

In [ ]:
# Heterogeneous dictionary
d2 = {(1,2,3):1,"hello":"world"}
d2

{(1, 2, 3): 1, 'hello': 'world'}

In [ ]:
# 2D dictionary
s = {
    "name":"poonam",
    "college":"JSPM",
    "subjects":
    {
        "dsa":50,
        "maths":67,
        "english":34
    }
}

In [ ]:
# using sequence and dict function.
d4 = dict([(1,1),(2,2),(3,3)])
d4

{1: 1, 2: 2, 3: 3}

In [ ]:
d4 = dict([('name','nitish'),('age',32),(3,3)])
d4

{'name': 'nitish', 'age': 32, 3: 3}

In [ ]:
# duplicate keys is not allowed.
d5 = {"name":"poonam","name":"rahul"}
d5

{'name': 'rahul'}

In [ ]:
# mutable items as keys not allowed.
d6 = {'name':'nitish',[1,2,3]:2}
d6

TypeError: unhashable type: 'list'

# Accesing items.

In [ ]:
# indexing is not allowed.
my_dict = {"name":"poonam","age":23,"gender":"female"}
my_dict[0]

KeyError: 0

In [ ]:
my_dict = {"name":"poonam","age":23,"gender":"female"}
# []
my_dict['name']
# get
my_dict.get("age")

23

In [ ]:
s

{'name': 'poonam',
 'college': 'JSPM',
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [ ]:
s['subjects']['maths']

67

# Adding key-value pair.

In [ ]:
my_dict['clg'] = 'JSPM'
my_dict

{'name': 'poonam', 'age': 23, 'gender': 'female', 'clg': 'JSPM'}

In [ ]:
s

{'name': 'poonam',
 'college': 'JSPM',
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [ ]:
s['subjects']['ds'] = 75
s

{'name': 'poonam',
 'college': 'JSPM',
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

# REMOVE KEY-VALUE PAIR
* pop
* popitem
* del
* clear

In [ ]:
d = {'name':'poonam',"age":32,3:3,'gender':'male','weight':72}
# pop
d.pop(3)
print(d)

{'name': 'poonam', 'age': 32, 'gender': 'male', 'weight': 72}

In [ ]:
# popitem = delete last key value pair.
d.popitem()

('weight', 72)

In [ ]:
# del
del d['name']
print(d)

{'age': 32, 'gender': 'male'}

In [ ]:
# clear
d.clear()
print(d)

{}

In [ ]:
s

{'name': 'poonam',
 'college': 'JSPM',
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

In [ ]:
# del
del s['subjects']['ds']
s

{'name': 'poonam', 'college': 'JSPM', 'subjects': {'dsa': 50, 'english': 34}}

# Editing key - value pair.

In [ ]:
s['subjects']['sem'] = 5
s

{'name': 'poonam',
 'college': 'JSPM',
 'subjects': {'dsa': 50, 'english': 34, 'sem': 5},
 'sem': 5}

# Dictionary operations
* membership
* Iteration

In [ ]:
s

{'name': 'poonam',
 'college': 'JSPM',
 'subjects': {'dsa': 50, 'english': 34, 'sem': 5},
 'sem': 5}

In [ ]:
"poonam" in s # in dictionary everything is keys so it is we provided value

False

In [ ]:
print(s)

{'name': 'poonam', 'college': 'JSPM', 'subjects': {'dsa': 50, 'english': 34, 'sem': 5}, 'sem': 5}

In [ ]:
d = {"name":"poonam","age":33,"gender":"female"}
for i in d:
  print(i)

name
age
gender

In [ ]:
for key,values in d.items():
  print(key,":",values)

name : poonam
age : 33
gender : female

In [ ]:
for i in d:
  print(i,d[i])

name poonam
age 33
gender female

# Dictionary Functions.

In [ ]:
# len/sorted
len(d)

3

In [ ]:
print(d)

{'name': 'poonam', 'age': 33, 'gender': 'female'}

In [ ]:
sorted(d,reverse=True)

['name', 'gender', 'age']

In [ ]:
# items/keys/values
print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'poonam', 'age': 33, 'gender': 'female'}
dict_items([('name', 'poonam'), ('age', 33), ('gender', 'female')])
dict_keys(['name', 'age', 'gender'])
dict_values(['poonam', 33, 'female'])

In [ ]:
# update
d1 = {1:2,3:4,4:5}
d2= {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

# Dictionary comperehension.
* {key : value for vars in iterable}

In [ ]:
# print 1st and 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# using existing dict
distances = {"delhi":1000,"mumbai":2000,"banglore":3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('banglore', 3000)])

In [ ]:
# using existing dict.
distances = {"delhi":1000,"mumbai":2000,"banglore":3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'banglore': 1860.0}

In [ ]:
# using zip
days = ["sunday","monday","tuesday","wednesday","thursday","friday","saturday"]
temp_c = [30.5,45.5,56.6,67.8,56.7,89.0,54.6]

{i:j for (i,j) in zip(days,temp_c)}

{'sunday': 30.5,
 'monday': 45.5,
 'tuesday': 56.6,
 'wednesday': 67.8,
 'thursday': 56.7,
 'friday': 89.0,
 'saturday': 54.6}

In [ ]:
# using if condition.
products = {"phone":10,"laptop":0,"charger":32,"tablet":0}

{key:value for (key,value) in products.items() if value > 0}

{'phone': 10, 'charger': 32}

In [ ]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [ ]:
{
    2:{1:2,2:4,3:6,4:8},
    3:{1:3,2:6,3:9,4:12},
    4:{1:4,2:8,3:12,4:16}
}

{2: {1: 2, 2: 4, 3: 6, 4: 8},
 3: {1: 3, 2: 6, 3: 9, 4: 12},
 4: {1: 4, 2: 8, 3: 12, 4: 16}}