<a href="https://colab.research.google.com/github/poonamkhot123/Python-Basic-To-Advanced-Coding/blob/main/Session_2_Operators%2Cif_else%2CLoops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators in python
* Arithmetic operator
* Relational operator
* Logical operator
* Bitwise operator
* Assignment operator
* Membership Operators

In [ ]:
# Arithmetic Operator
print(6+7)

print(9-7)

print(5*6)

print(5/6)

print(5//2)

print(5%2)

print(5**2)

13
2
30
0.8333333333333334
2
1
25

In [ ]:
print(4>5)

print(4<9)

print(4<=4)

print(4!=4)

False
True
True
False

In [ ]:
# logical operator

print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

In [ ]:
# Bitwise operators

# bitwise and
print(2 & 3)

# bitwise or
print(2 | 3)

# bitwise xor
print(2 ^ 3)

print(~3)

print(4>>2)

print(5 << 2)

2
3
1
-4
1
20

In [ ]:
# Assignment Operators

# =
a = 2
a += 2
a*= 2
a /= 2
a %= 2

In [ ]:
# Membership Operator.
# in/ not in
print("D" in "DElhi")

True

In [ ]:
print("D" not in "DElhi")

False

In [ ]:
print(1 in [2,3,4,5,6])

False

In [ ]:
# Program - find the sum of a 3 digit number entered by the user.

number = int(input("Enter a 3 digit no.:"))

a = number%10  # modulus
b = (number//10)%10  # integer division
c = (number//100)

print("The digits are:", a, b, c)
print("The sum of the digits is:", a+b+c)

Enter a 3 digit no.:345
The digits are: 5 4 3
The sum of the digits is: 12

# If - else in python

In [ ]:
# login program and indentation
# email -> poonamhkot11@gmail.com
# password -> 1234

email = input("Enter your email:")
password = input("Enter your password:")

if email == "poonamkhot11@gmail.com" and password == "1234":
  print("Welcome")
else:
  print("invalid input")

Enter your email:poonamkhot11@gmail.com
Enter your password:1234
Welcome

In [ ]:
email = input("Enter a mail:")
passoword = input("ENter a password:")

if email ="poonamkhot11@gmail.com" and password = "1234":
  print("welcome")
else:
  print("invalid input")

In [ ]:
email = input("Enter a email:")
password = input("Enter a password:")

if email == "poonamkhot11@gmail.com" and password == "1234":
  print("welcome !")
elif email == "poonamkhot11@gmail.com" and password != "1234":
  print("invalid password")
  password = input("Enter a password:")
  if password == "1234":
    print("Welcome finally")
  else:
    print("try again")
else:
  print("not correct")

Enter a email:poonamkhot11@gmail.com
Enter a password:1456
invalid password
Enter a password:1234
Welcome finally

In [ ]:
a = int(input("Enter a number:"))
b = int(input("Enter a second number:"))
c = int(input("Enter a third number:"))

if a > b and a > c:
  print("a is maximun no.")
elif b>a and b>c:
  print("b is maximum no.")
else:
  print("C is maximum no.")

Enter a number:67
Enter a second number:45
Enter a third number:90
C is maximum no.

In [ ]:
# Menu Driven Calculator
fnum = int(input("Enter the 1st number:"))
snum = int(input("Enter the 2nd number:"))

op = input("enter the operation.")

if op == "*":
  print(fnum*snum)
elif op == "+":
  print(fnum+snum)
elif op == "-":
  print(fnum-snum)
elif op == "/":
  print(fnum/snum)
else:
  print("invalid operation")

Enter the 1st number:34
Enter the 2nd number:67
enter the operation.+
101

In [ ]:
# menu driven calculator.
fnum = int(input("ENter a number:"))
snum = int(input("enter a number:"))

op = input("ENter a operation:")

if op =="+":
  print(fnum+snum)
elif op == "-":
  print(fnum-snum)
elif op=="*":
  print(fnum*snum)
elif op =="/":
  print(fnum/snum)
else:
  print("invalid operation.")

ENter a number:67
enter a number:89
ENter a operation:*
5963

In [ ]:
# menu driven ATM
menu = input("""
Hi how can i help you.
1. Enter 1 for pin change
2.Enter 2 for balance check.
3.Enter 3 for withdraw
4.Enter 4 for exist""")

if menu == "1":
  print("pin change")
elif menu == "2":
  print("balance check")
elif menu == "3":
  print("withdraw")
else:
  print("exist")

Hi how can i help you.
1. Enter 1 for pin change
2.Enter 2 for balance check.
3.Enter 3 for withdraw
4.Enter 4 for exist2
balance check

# Modules in python
* math
* keywords
* datetime
* random

In [ ]:
# math
import math

math.factorial(5)
math.floor(6.8)

6

In [ ]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# random
import random
print(random.randint(1,100))

78

In [ ]:
# datetime
import datetime
print(datetime.datetime.now())

2026-01-12 06:45:04.753987

# Loops in python

* Need for loops
* while loop
* for loop

In [ ]:
number = int(input("Enter the number:"))

i = 1

while i < 11:
  print(number * i)
  i +=1

Enter the number:5
5
10
15
20
25
30
35
40
45
50

In [ ]:
number = int(input("Enter a number:"))

i = 1
while i <11:
  print(number,"*",i,'=',number*i)
  i+=1

Enter a number:6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [ ]:
number = int(input("Enter a number:"))
i = 1
while i < 11:
  print(number,"*",i,"=",number*i)
  i+=1

Enter a number:9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [8]:
# while loop with else
x = 1
while x < 8:
  print(x)
  x+=1
else:
  print("limit exceeded")

1
2
3
4
5
6
7
limit exceeded

In [3]:
# gusessing game

# Generate a random integer between 1 and 100
import random
jackpot = random.randint(1,100)

guess = int(input("guess karo:"))
counter = 1
while guess != jackpot:

 if guess < jackpot:
   print("galat! guess higher")
 else:
   print("galat! guess lower")
 guess = int(input("guess karo"))
 counter += 1
else:
  print("correct guess")
  print("attempts",counter)

guess karo:89
galat! guess lower
guess karo45
galat! guess higher
guess karo23
galat! guess higher
guess karo12
galat! guess higher
guess karo6
galat! guess higher
guess karo4
galat! guess higher
guess karo3
galat! guess higher
guess karo67
galat! guess higher
guess karo89
galat! guess lower
guess karo70
galat! guess higher
guess karo71
galat! guess higher
guess karo73
galat! guess higher
guess karo75
galat! guess higher
guess karo78
galat! guess higher
guess karo80
galat! guess lower
guess karo79
correct guess
attempts 16

# for Loop

In [4]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [16]:
for i in 'Delhi':
 print(i)

D
e
l
h
i

In [17]:
for i in [1,2,3,4,5]:
  print(i)

1
2
3
4
5

In [18]:
for i in (1,2,3,4):
  print(i)

1
2
3
4

In [19]:
for i in {1,2,3,4}:
  print(i)

1
2
3
4

In [24]:
# loop example.
"""Program = The current population of a town is 10000.
the population of the town is increasing at the rate of 10% per year.
you have to write a program to find out the population at the each of the
last 10 years."""

population = 10000
for i in range(10,0,-1):
  print(i,population)
  population = population -0.1*population

10 10000
9 9000.0
8 8100.0
7 7290.0
6 6561.0
5 5904.9
4 5314.41
3 4782.969
2 4304.6721
1 3874.20489